<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"  />
    <title>HUATBIGBIG</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"  />
  </head>

  <body>
    <h1>Have a good day! :)</h1>
    <form method="post">
      <input type="text" name="data"  />
      <input type="submit" value="Submit Data" />
      
    </form>

    
    {% if output %}
    {{ output }}
    {% endif %}
    <br />

    {% if docs %}
    {% for doc in docs %}
    {{ docs }} <br />
    {% endfor %}
    {% endif %}
   
  </body>

</html>